// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ea3a4b;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

// 공통
$BG_COLOR: #000000;
$TEXT_COLOR: #f1f1f1;
$BORDER_COLOR: #3a3a3a;
$MAIN_TEXT: #f3f3f3;
$SUB_TEXT: #666666;
$TEXT_COLOR_1: #f3f3f3cc;
$BLACK1: #121212;
$BLACK2: #222222;
$BLACKA: #1a1a1a;

$FOOTER: #222222;
$FOOTER_TEXT: #969086;
$FOOTER_LINE: #444444;

// TITLE ANI
$ANI_COLOR: #1d1d1d;
$NUM_COLOR: #c3c1bc;
$DESC_BORDER: #a29e95;
$ANI_BORDER: #676767;
$ANI_BOX: #a6a39e;
$ABOUT_BG: #c3b996;
$ABOUT_COLOR1: #6f674a;
$ABOUT_COLOR2: #fff9f1;
$ABOUT_SUB_TEXT: #988c67;
$ABOUT_BG2: #e5e3dc;
