@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/animation';

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  background: colors.$BLACK;
  border-bottom: 1px solid colors.$BORDER_COLOR;
  @include flexbox.flexbox(between, center);
  opacity: 0;
  transform: translateY(-100px);
  animation: h1Show 0.6s 1s ease forwards;
  @include animation.h1Show;

  &.about {
    color: colors.$ABOUT_HEADER_TEXT;
    background: colors.$ABOUT_BG;
    border-color: colors.$ABOUT_HEADER_BORDER;

    a {
      color: colors.$ABOUT_HEADER_TEXT !important;
    }
  }

  h1 a {
    font-family: Abel, sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: colors.$TEXT_COLOR;
  }

  .info,
  .nav {
    a {
      font-family: Abel, sans-serif;
      font-size: 13px;
      color: colors.$TEXT_COLOR;
    }
  }

  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    gap: 30px;
    transform: translate(-50%, -50%);
    @include flexbox.flexbox(between, center);

    li {
      width: 120px;
    }
  }

  .nav ul {
    @include flexbox.flexbox(between, center);
    gap: 10px;
  }
}
