#about_header{ 
    position: absolute;
    width: 100%;
    display: flex; align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 1px solid #aca386;
    height: 50px;
    box-sizing: border-box;
    background: #C3B996;
    z-index: 2;
    opacity: 0;
    transform: translateY(-100px);
    animation: hShow 0.6s 1.8s ease forwards;
}
#section1{overflow: hidden;}
// #section2
#section2_about{
    padding: 13vw 10vw;
    background: #FFF9F1;
    background: #E5E3DC;

}
#section3{
    padding: 10vw 10vw;
    background: #1D1A18;
    background: #E5E3DC;
}




/* header */
#about_header h1 a{ 
    color: #40350f;
    font-family: 'Abel';
    font-size: 24px;
    font-weight: normal;
}
#about_header .member ul{display: flex; align-items: center;}
#about_header .member ul li{padding: 0 10px;}
#about_header .member ul li a{
    color: #40350f;
    display: block;
    font-family: 'Abel';
    font-size: 14px;
}
#about_header .member ul li a.session{
	font-family: 'Chosunilbo_myungjo';
	font-size: 13px;
}
/* ani */
@keyframes hShow{
    to{opacity: 1; transform: translateY(0);}
}


/* sec1 */
.sec1.about{
    position: relative;
    height: 100vh;
    background: #C3B996;
    box-sizing: border-box;
}
.sec1.about .main_text{
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    left: 0vw;
    font-family: "Miracle";
    white-space: nowrap;
    z-index: 10;
    font-size: 7vw;
    font-weight: 300;
    line-height: 1.15;
    letter-spacing: -0.2vw;
    opacity: 0;
    animation: mShow 0.8s 1.6s forwards;
    /* animation: mShow 0.8s ease forwards; */
}
@keyframes mShow {
    to{opacity: 1; left: 6vw; }
}
.sec1.about .main_text > span{
    /* position: absolute; */
    color: #998A55;
    color: #6f674a;
}
.sec1.about .o_span{
    display: block; 
}
.sec1.about .t_span{
    display: block; 
    margin-left: 14vw; 
    letter-spacing: 1px; 
}
.sec1.about .main_text em{ color: #fff9f1; }
.sec1.about .em{display: block;}
.sec1.about .line{    
    display: inline-block;
    width: 26vw;
    height: 1.2px;
    background: #aca077;}
.sec1.about .sub_text {  display: inline-block; }
.sec1.about .sub_text span{color: #ACA077;
    color: #988c67;
    font-size: 3vw;
    font-family: 'Abel';}
.sec1.about .about_img{
    bottom: -8%;
    right: 12vw;
    position: absolute;
    width: 36vw;
    /* height: 90vh; */
    border-radius: 50% 50% 0 0;
    overflow: hidden;
}
.sec1.about .about_img img{ display: block;}




/* sec2 */
.sec2{
    position: relative;
    /* display: flex;
    justify-content: space-between;*/
} 
.sec2 h1{
    position: relative;
    z-index: 3;
    text-align: center;
    font-size: 10vw;
    margin-bottom: -5vw;
    font-family: "Miracle";
    // opacity: 0;
    // transition: 0.6s;
    // transform: translateY(30px);
}
.sec2 .about_circle2{
    position: absolute;
    right: 5vw;
    top: -7vw;
    // opacity: 0;
    // transition: 0.6s;
    // transform: translateY(30px);
}
.sec2 svg {
    height: 45vh;
}
.sec2  svg text {
    font-size: 2.5vw;
    font-family: "Miracle";
    text-transform: uppercase;
    letter-spacing: 21px;
    fill: #9b9488;
}
.sec2 .img_wrap{
    position: relative;
    width: 45%;
    margin: 0 auto;
    filter: grayscale(0.9);
    transition: 0.4s;
    cursor: pointer;
    // opacity: 0;
    // transition: 0.6s ;
    // transform: translateY(30px);
}
.sec2 .text {
    margin-top: 10vw;
    // opacity: 0;
    // transition: 0.6s 0.9s;
    // transform: translateY(30px);
}
#section2.show .sec2 .text{
    opacity: 1;
    transform: translateY(0px);
}
.sec2 .text h2{
    white-space: nowrap;
    text-align: center;
    font-size: 5vw;
    font-family: "Miracle";
    line-height: 5.5vw;
    margin-bottom: 5vw;
}
.sec2 .text h2 span{
    white-space: nowrap;
    display: block;
    font-size: 3.8vw;
}
.sec2 .desc_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec2 .desc{
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.3vw;
    line-height: 2.2vw;
    font-weight: 300;
    text-align: justify;
    // opacity: 0;
    // transition: 0.5s;
    // transform: translateY(40px);
}
.sec2 .desc_wrap .desc1{
    text-align: center;
    margin-bottom: 3vw;
}
.sec2 .desc_wrap .desc2 {
    width:76%;
    text-align: justify;
    transition-delay: 0.3s;
}
.sec2 .desc_wrap .desc3{
    transition-delay: 0.6s;
}
.sec2 .desc_wrap .desc4{
    transition-delay: 0.6s;
}
.sec2 .desc_wrap > span{
    width: 1px;
    height: 18px;
    display: block;
    background: #222;
    margin: 1% 0;
}
.sec2 .desc_wrap .p_bt{
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3vw;
}
.sec2 .desc_wrap .p_bt .desc {
    width: 48%;
}

/* ani */
#section2.show h1{
    opacity: 1;
    transform: translateY(0);
}
#section2.show .about_circle2{
    opacity: 1;
    transform: translateY(0);
}
#section2.show .img_wrap{
    opacity: 1;
    transform: translateY(0);
}
.desc_wrap.active .desc1,
.desc_wrap.active .desc2,
.desc_wrap.active .desc3,
.desc_wrap.active .desc4
{
    opacity: 1;
    transform: translateY(0px);
}


/* sec3 */
.sec3{
    position: relative;
}
.sec3 h1 {
    position: relative;
    z-index: 3;
    text-align: center;
    font-size: 10vw;
    margin-bottom: -5vw;
    font-family: "Miracle";
    // opacity: 0;
    // transition: 0.5s;
    // transform: translateY(30px);
}
.sec3 .keyword{
    position: relative;
    width: 100%;
    // opacity: 0;
    // transition: 0.5s 0.3s;
    // transform: translateY(30px);
}
.sec3 .keyword .library1 {
    position: relative;
    width: 27vw;
    height: 36vw;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 10vw;
}
.sec3 .keyword .library1 img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // z-index: -1;
}  
.library1 canvas {
    width: 100%;
    height: 100%;
}
.sec3 .keyword .sub_text{
    position: absolute;
    top: 14vw;
    right: 10vw;
    font-family: "Miracle";
    // opacity: 0;
    // transform: translateX(50px);
    // transition: 0.5s 0.7s;
}
.sec3 .keyword .sub_text p {
    position: relative;
    color: #222;
    font-size: 2.2vw;
}
.sec3 .keyword .sub_text:before{
    content: '';
    position: absolute;
    top: 10%;
    left: -10%;
    width: 1px;
    height: 90%;
    background: #666;
}
.sec3 .keyword .sub_text span{
    color: #999;
    font-size: 1.2vw;
    letter-spacing: 2px;
}
.sec3 .keyword .sub_text2{
    position: absolute;
    top: 27vw;
    left: 4vw;
    text-align: right;
    // opacity: 0;
    // transform: translateX(-50px);
    // transition: 0.5s 1s;
}
.sec3 .keyword .sub_text2 p{
    color: #222;
    font-size: 1.2vw;
    font-family: 'Chosunilbo_myungjo';
}
.sec3 .keyword .sub_text2::before{
    content: '';
    position: absolute;
    top: 10%;
    right: -10%;
    width: 1px;
    height: 90%;
    background: #666;
}
.sec3 .keyword .sub_text2 span{
    font-family: "Miracle";
    color: #999;
    font-size: 1.2vw;
    letter-spacing: 2px;
}
.sec3 .keyword .keyword_wrap{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: 'Chosunilbo_myungjo';
}
.sec3 .keyword_wrap .left{
    width: 48%;
    // transition: 0.4s;
    // opacity: 0;
    // transform: translateX(-100px);
}
.keyword_wrap.active .left{opacity: 1; transform: translateX(0);}
.sec3 .keyword_wrap .left h2{
    font-size: 6vw;
    font-family: "Miracle";
}
.sec3 .keyword_wrap .left h2 span{
    display: block;
    font-size: 2vw;
    color: #9b9488;
}
.sec3 .keyword_wrap .right{
    width:55%;
}
.sec3 .keyword_wrap .right li{
    border-bottom: 1px solid #9b9488;
    margin-bottom: 4vw;
}
.sec3 .keyword_wrap .right li .title{
    display: flex;
    align-items: flex-end;
    margin-bottom: 2%;
}
.sec3 .keyword_wrap .right li .title span{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding: 5px;
    background: #C4C4C4;
    border-radius: 50%;
    text-align: center;
    color: #222;
    margin-right: 2%;
    font-size: 1.3vw;
    
}
.sec3 .keyword_wrap .right li .title p{
    font-size: 1.5vw;
}
.sec3 .keyword_wrap li > p{
    margin-bottom: 5%;
    font-size: 1.2vw;
    line-height: 2.2vw;
}
// .sec3 .list1{opacity: 0; transition: 0.6s 0.6s;  transform: translateY(50px); }
// .sec3 .list2{opacity: 0; transition: 0.6s 0.9s; transform: translateY(50px); }
// .sec3 .list3{opacity: 0; transition: 0.6s 1.2s; transform: translateY(50px); }

/* ani */
#section3.show h1 { opacity: 1; transform: translateY(0);}
#section3.show .keyword{  opacity: 1; transform: translateY(0);}
#section3.show .sub_text{opacity: 1; transform: translateX(0);}
#section3.show .sub_text2{opacity: 1; transform: translateX(0);}
.keyword_wrap.active .list1{opacity: 1; transform: translateY(0);}
.keyword_wrap.active .list2{opacity: 1; transform: translateY(0);}
.keyword_wrap.active .list3{opacity: 1; transform: translateY(0);}
/* .sec3 .left.active{opacity: 1;transform: translateX(0);} */

/* 미디어쿼리 */
@media (max-width:1200px) {
    .sec1.about .about_img{width: 40vw; right: 8vw;    bottom: -12%;}
}
@media (max-width:1024px) {
    .sec1.about .main_text{font-size: 8vw;    line-height: 1.2;}
    .sec1.about .t_span{ margin-left: 6vw;}
    .sec1.about .sub_text span { font-size: 3.5vw;  }
    .sec1.about .about_img{ bottom: -2%;}
}
@media (max-width:960px) {
    .sec1.about .about_img {
        width: 48vw;
        right: 5vw;
        bottom: -8%;
       }
    // sec2
    /* sec2 */
    .sec2 h1{font-size: 11vw;}
    .sec2 .img_wrap{width: 55%;}
    .sec2 .about_circle2 { right: 1vw;}
    .sec2 .text h2{font-size: 6vw; line-height: 6.5vw;}
    .sec2 .text h2 span{font-size: 4.8vw;}
    .sec2 .desc {
        font-size: 1.5vw;
        line-height: 2.5vw;}
    .sec2 .desc_wrap .desc2 {width: 88%;}
    /* sec3 */
    .sec3 .keyword .sub_text{ right: 8vw;}
    .sec3 .keyword .sub_text span{ font-size: 1.5vw;}
    .sec3 .keyword .sub_text2{left: 0vw;}
    .sec3 .keyword .sub_text2 p{font-size: 1.5vw;}
    .sec3 .keyword .sub_text2 span {font-size: 1.5vw;}
    //page
    .f_top .btn{height: 40vh;}
    
}
@media (max-width:768px) {
    .sec1.about .about_img {
        
        display: none;
    }
    .sec1.about .main_text {font-size: 9vw; line-height: 1.3; }
    .sec1.about .t_span {
        margin-left: 0;
    }
    /* sec2 */
    .sec2 h1 {
        margin-left: -3vw;
        white-space: nowrap;
        font-size: 17vw;
        margin-bottom: -8vw;
    }
    .sec2 .img_wrap { width: 100%;}
    .sec2 .about_circle2{display: none;}
    .sec2 .text { margin-top: 7vw;}
    .sec2 .text h2 { font-size: 8vw;  line-height: 8.5vw; }
    .sec2 .text h2 span {font-size: 6.8vw;  }
    .sec2 .desc_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec2 .desc_wrap .desc1{font-size: 3vw; line-height: 5vw;}
    .sec2 .desc_wrap .desc2 {width: 100%;font-size: 2.8vw; line-height: 5vw;}
    .sec2 .desc_wrap .p_bt {
        align-items: center;
        margin-top: 15px;
        flex-direction: column;
    }
    .sec2 .desc_wrap .p_bt .desc{width: 100%; font-size: 2.8vw; line-height: 5vw;}
    .sec2 .desc_wrap .desc3{margin-bottom: 15px;}
    /* sec3 */
    .sec3 h1{font-size: 12vw;margin-bottom: -7vw; }
    .sec3 .keyword .library1{width: 50vw; height: 65vw; margin-bottom: 30px;}
    .sec3 .keyword .library1 canvas{display: none;}
    .sec3 .keyword .sub_text{display: none;}
    .sec3 .keyword .sub_text2{display: none;}
    .sec3 .keyword .keyword_wrap{flex-direction: column;  align-items: center;}
    .sec3 .keyword_wrap .left{ width: 100%;}
    .sec3 .keyword_wrap .left h2 {  font-size: 10vw; text-align: center;}
    .sec3 .keyword_wrap .left h2 span{font-size: 4vw;}
    .sec3 .keyword_wrap .right {  width: 100%; margin-top: 30px;}
    .sec3 .keyword_wrap .right li{margin-bottom: 30px;}
    .sec3 .keyword_wrap .right li .title span{font-size: 2.8vw;}
    .sec3 .keyword_wrap .right li .title p{font-size:  3.5vw;}
    .sec3 .keyword_wrap li > p { font-size: 3vw; line-height: 5vw;}
    //page
    .f_top .btn a{font-size: 6vw;}
}
@media (max-width:600px) {
   
    //page
    .f_top .btn {   height: 30vh; }
    .f_top .btn a{font-size: 7vw;}
    
}
@media (max-width:480px) {
    
}
@media (max-width:375px) {
}