#contact_header{
    position: absolute;
    width: 100%;
    display: flex; align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    height: 50px;
    box-sizing: border-box;
    z-index: 2;
    opacity: 1;
}
#section1_contact{
    background: #D7D1C6;
}
#section2_contact{
    background: #D7D1C6;
}



/* header */
#contact_header h1 a{ 
    color: #222;
    font-family: 'Abel';
    font-size: 24px;
    font-weight: normal;
}
#contact_header .member ul{display: flex; align-items: center;}
#contact_header .member ul li{padding: 0 10px;}
#contact_header .member ul li a{
    color: #222;
    display: block;
    font-family: 'Abel';
    font-size: 14px;
}
#contact_header .member ul li a.session{
	font-family: 'Chosunilbo_myungjo';
	font-size: 13px;
}
// sec1
.sec1_contact{
    position: relative;
    height: 100vh;
}
.sec1_contact .main_text{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
.sec1_contact .main_text:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0.3vw;
    height: 0vw;
    background: #C1BBAF;
    animation: line 1.5s 2s infinite alternate;
}
@keyframes line {
    to{height: 8vw; }
}
.sec1_contact .main_text h1{
    font-size: 8.5vw;
    color: #a29e95;
    font-family: "Miracle";
    line-height: 9vw;
    display: inline-block;
}
.sec1_contact .main_text h1 .s1{
    color: #FFFFFF;
    overflow: hidden;
    display: inline-block;
}
.sec1_contact .main_text h1 .s2,
.sec1_contact .main_text h1 .s3{
    overflow: hidden;
    display: inline-block;
}
.sec1_contact .main_text h1 span span{
    transform: translateY(100px);
    transform-origin: bottom;
    display: inline-block;
    transition: 0.5s;
    animation: text 1.2s 1.3s forwards;
    opacity: 0;
}
.sec1_contact .main_text h1 .s2 span{
    animation: text 1.2s 1.4s forwards;
}
.sec1_contact .main_text h1 .s3 span{
    animation: text 1.2s 1.5s forwards;
}
// .sec1_contact .main_text h1 .s1 span:nth-of-type(2),
// .sec1_contact .main_text h1 .s1 span:nth-of-type(5),
// .sec1_contact .main_text h1 .s1 span:nth-of-type(9),
// .sec1_contact .main_text h1 .s1 span:nth-of-type(11),
// .sec1_contact .main_text h1 .s2 span:nth-of-type(5),
// .sec1_contact .main_text h1 .s2 span:nth-of-type(7),
// .sec1_contact .main_text h1 .s2 span:nth-of-type(8),
// .sec1_contact .main_text h1 .s3 span:nth-of-type(3){margin-right: 20px;}

   
/* } */
@keyframes text {
    to{
       opacity: 1;transform: translateY(0);
    }
}


/* sec2 */
.sec2_contact{
    height: 100vh;
    padding: 7vw 10vw 0vw;
    display: flex;
    align-items: flex-start;
    // margin-bottom: 10vw;
}
.sec2_contact .left{
    width: 50%;
}
.sec2_contact .left .img_wrap{
    position: relative;
    width: 30vw;
    // opacity: 0;
    // transform: translateX(-100px);
    // transition: 0.7s;
}
.sec2_contact .left .img_wrap img{
    display: block;
    border-radius: 50% 50% 5px 5px;
}
.sec2_contact .right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
}
.sec2_contact .right .title h2{
    position: relative;
    font-size: 5vw;
    text-align: right;
    color: #847F77;
    font-family: "Miracle";
    z-index: 1;
    // opacity: 0;
    // transition: 0.7s;
    // transform: translateX(100px);
}
.sec2_contact .right .title h2 em{
    display: block;
    font-size: 3vw;
    // opacity: 0;
    // transition: 0.7s 0.3s;
    // transform: translateX(100px);
}
.sec2_contact .right .title h2:before{
    position: absolute;
    top: 1vw;
    left: 2vw;
    content: '';
    width: 10vw;
    height: 10vw;
    background: #E5E3DC;
    border-radius: 50%;
    z-index: -1;
    // opacity: 0;
    // transition: 0.7s 0.5s;
    // transform: scale(0.2);
    // transform-origin:center;
    opacity: 0.7;
    transform: scale(1);
}
.sec2_contact.show .right .title h2:before{
    opacity: 0.7;
    transform: scale(1);
}
/* contact */
.sec2_contact .right .contact{
    margin-top: 8vw;
    position: relative;
}
.sec2_contact .right .contact ul{ 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.sec2_contact .right .contact li{
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 0;
    width: 35vw;
    text-align: right;
    overflow: hidden;
}
.sec2_contact .right .contact li:before{
    content: '';
    position: absolute;
    width: 0%;
    width: 100%;
    height: 1px;
    background: #fff;
    bottom: 0;
    left: 0;
    transition: 0.7s 1.2s;
}
.sec2_contact .right .contact li a{ 
    color: #fff;     
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
}
.sec2_contact .right .contact li a i{
    font-size: 1.5vw;
    // transform: translateY(50px);
    // opacity: 0;
    // transition: 0.7s 0.8s linear;
}
.sec2_contact .right .contact li a span{ 
    // transform: translateY(50px);
    // opacity: 0;
    // transition: 0.7s 0.8s linear; 
}
.sec2_contact .right .contact li span{
    font-size: 1.5vw;
    display: inline-block;
    // transform: translateY(50px);
    // opacity: 0;
    // transition: 0.7s 0.8s linear;
    color: #fff; 
}
.sec2_contact.show .right .contact li:before{width: 100%;}
.sec2_contact.show .right .contact li a span,
.sec2_contact.show .right .contact li a i,
.sec2_contact.show .right .contact li span{
    transform: translateY(0);
    opacity: 1;
}
.sec2_contact .right .social { 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    overflow: hidden;
}
.sec2_contact .right .social ul{
    display: flex;
    width: 35vw;
    justify-content: flex-end;
    align-items: center;
}
.sec2_contact .right .social ul li{
    margin-left:20px;
    display: inline-block;
    // transform: translateY(50px);
    // opacity: 0;
    // transition: 0.7s 1.5s linear;
}



/* ani */
.sec2_contact.show .left .img_wrap{
    opacity: 1;
    transform: translateX(0);
}
.sec2_contact.show .right .title h2,
.sec2_contact.show .right .title h2 em{
    opacity: 1;
    transform: translateX(0);
}
.sec2_contact.show .right .contactli:before{
    width: 100%;
}
.sec2_contact.show .right .social li{
    opacity: 1;
    transform: translateY(0);
}


// media
@media (max-width:1024px) {
    // .textWrap span{font-size: 10vw;}
    // .circle{  width: 95vw;height: 95vw;}
    // .contact li{width: 35vw;}
    // .contact li span{font-size: 1.5vw;}
    // .contact li a i{font-size: 1.5vw;}
    // .social ul{width: 35vw;}

    .sec1 .main_text:after {
        top: 105%;
        width: 3px;
    }
    @keyframes line {
        to{height: 10vw; }
    }
    .sec2{margin-bottom: 5vw;}
}
@media (max-width:960px) {
    .sec2_contact .left .img_wrap{width: 32vw;}
    .sec2_contact .right .contact {
        margin-top: 5vw;
    }
    .sec2_contact {  height: 90vh;}
    /* footer */
    .f_top .btn{height: 40vh;}
}
@media (max-width:768px) {
    .sec1_contact{height: 450px;}
    .sec1_contact .main_text h1{
        font-size: 9vw;
        line-height: 9.5vw;
    }
    .sec1_contact .main_text:after {
        top: 110%;
        width: 3px;
    }
    @keyframes line {
        to{height: 15vw; }
    }
    .sec2_contact{
        flex-direction: column;
        height: auto;
        padding-bottom: 10vw;
    }
    .sec2_contact .left{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .sec2_contact .left .img_wrap { width: 65vw;}
    .sec2_contact .right{
        width: 100%;
        align-items: center;
        margin-top: 50px;
    }
    .sec2_contact .right .title{margin-bottom: 30px;}
    .sec2_contact .right .title h2{
        font-size: 11vw;
        text-align: center;
    }
    .sec2_contact .right .title h2 em{
        font-size: 7vw;
    }
    .sec2_contact .right .title h2:before {
        display: none;
    }
    .sec2_contact .right .contact li{
        width: 65vw;
    }
    .sec2_contact .right .contact li span{font-size: 3vw;}
    .sec2_contact .right .contact li a i{font-size: 3vw;}
    .sec2_contact .right .social ul{width: 65vw;}
     /* footer */
     .f_top .btn a{font-size: 6vw;}
}
@media (max-width:600px) {
    // .textWrap { padding-top: 150px;}
    // .circle{top: 10vw;}

     /* footer */
     .f_top .btn {   height: 30vh; }
     .f_top .btn a{font-size: 7vw;}
}
@media (max-width:480px) {
    // .wrap{height: 70vh;}
    // .textWrap {  top: 43%;}
    // .textWrap span { font-size: 18vw;  }
    // .circle {
    //     width: 1000px;
    //     height: 1000px;
    //     top: 15vw;
    // }
    // .contact{margin-top: 10vw;}
}
@media (max-width:375px) {
}