#section1{
    background: #000;
}
#section2{
    padding: 5vw 10vw;
    background: #CCCAC6;
    overflow: hidden;
}
/* sec1 */
.sec1{
    height: 100vh;
    box-sizing: border-box;
}
.sec1 .ani{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
}
.sec1 .ani span { 
    /* color: #191919 ; */
    color: #1d1d1d;
    font-family: "Miracle";
    font-size: 25vw; 
    animation: loop 20s linear infinite;
}
@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.sec1 .title-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sec1 .title-wrap .title{
    margin-bottom: 4%;
}
.sec1 .desc{display: flex;align-items: center;}
.sec1 .title-wrap .scroll{
    color: #fff;
    white-space: nowrap;
    font-size: 1.3vw;
    font-family: 'Chosunilbo_myungjo';
    flex: 0 0 30%;
    opacity: 0;
    transform: translateY(30px);
    animation: pMove 0.8s forwards 2.2s ease;
}
.scroll span{   
    display: inline-block;
    width: 0px;
    height: 1px;
    background: #fff;
    vertical-align: middle;
    margin-left: 5px;
    width: 0;
    background: #FFF9F1;
    animation: pbMove3 0.6s forwards 2.4s;
}
@keyframes pbMove3 {
    to{width: 62px;}
}
.sec1 .title-wrap em,
.sec1 .title-wrap strong{
    color: #FFF9F1;
    font-size: 5vw;
    font-family: "Miracle";
    line-height: 6vw;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.sec1 .title-wrap em span{
    opacity: 0;
    display: inline-block;
    transform: translateY(100px);
    animation: h1Move 1s 1.6s forwards;
    font-weight: normal;
}
@keyframes h1Move {
    to{opacity: 1; transform : translateY(0)}
}
.sec1 .title-wrap strong span{
    opacity: 0;
    display: inline-block;
    transform: translateY(100px);
    animation: h2Move 1s 1.8s forwards ;
    font-weight: normal;
}
@keyframes h2Move {
    to{opacity: 1; transform : translateY(0)}
}
/* .sec1 em span:nth-of-type(4){margin-right: 20px;} */
// .sec1 .title-wrap strong span:nth-of-type(2){margin-right: 20px;}
// .sec1 .title-wrap strong span:nth-of-type(11){margin-right: 20px;}
.sec1 .title-wrap p{
    flex: 0 0 60%;
    position: relative;
    color: #FFF9F1;
    font-size: 0.8vw;
    font-family: 'Chosunilbo_myungjo';  
    text-align: justify; 
    opacity: 0;
    transform: translateY(30px);
    animation: pMove 0.8s forwards 2.2s ease;
}
@keyframes pMove {
    to{opacity: 1; transform : translateY(0)}
}
/* sec2 */
.sec2{}
.sec2 .project{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #222;
    /* padding-top: 250px; */
    padding-top: 20vw;
    margin: 10vw 0 20vw;

}
.sec2 .project:last-child{margin-bottom: 10vw;}
.sec2 .project .num{
    position: absolute;
    top: 0;
    left: -3vw;
    color: #c3c1bc;
    /* font-size: 700px; */
    font-size: 55vw;
    line-height: 1;
    font-family: 'Sunflower';
    // opacity: 0;
    // transform: translateX(-100px);
    // transition:  opacity 0.5s ,transform 0.8s ;
}
.sec2 .project .left{
    position: relative;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.sec2 .project .left .desc{
    color: #666;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.1vw;
    line-height: 2.1vw;
    text-align: justify;
    margin-left: 15px;
    // opacity: 0;
    // transform: translateX(-50px);
    // transition: 0.6s 1.5s;
}
// .sec2 .project:nth-of-type(2n) .left .desc{transform: translateX(50px);}
// .sec2 .project.show .left .desc{opacity: 1;transform: translateX(0);}
// .sec2 .project:nth-of-type(2n).show .left .desc{opacity: 1;transform: translateX(0);}
.sec2 .project .left .line{
    position: absolute;
    display: inline-block;
    height: 0%;
    height: 100%;
    width: 2px;
    background: #a29e95;
    // opacity: 0;
    // transition: 0.6s 2s;
}
.sec2 .project.show .left .line{opacity: 1; height: 100%;}
.sec2 .project .right{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sec2 .project .right h2{
    font-family: "Miracle";
    font-size: 5vw;
    line-height: 6vw;
    margin-bottom: 30px;
    // opacity: 0;
    // transform: translateY(100px);
    // transition: 0.5s 0.4s ;
}
.sec2 .project .right .btn-wrap {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
    z-index: 1;
    // opacity: 0; transform: translateY(100px);
    transition: 0.5s 0.6s cubic-bezier(0, 0.51, 0.16, 1.1);
}
.sec2 .project .right .btn-wrap:before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 0%; height: 100%;
    background: #A6A39E;
    z-index: -1;
}
.sec2 .project:nth-of-type(2n) .right .btn-wrap:before{
    left: auto;
    right: 0;
}
.sec2 .project .right .btn-wrap:hover:before{
    animation: reveal 0.7s cubic-bezier(0, 0.51, 0.16, 1.1);
}
@keyframes reveal {
    0%   {width: 0;    left: 0;}
    50%  {width: 100%; left: 0;}
    80%  {width: 100%; left: 0;}
    100% {width: 0;    left: 100%;}
}
.sec2 .project:nth-of-type(2n) .right .btn-wrap:hover:before{
    animation: reveal2 0.7s cubic-bezier(0, 0.51, 0.16, 1.1);
}
@keyframes reveal2 {
    0%   {width: 0;    right: 0;}
    50%  {width: 100%; right: 0;}
    80%  {width: 100%; right: 0;}
    100% {width: 0;    right: 100%;}
}
.project.show .right .btn-wrap{opacity: 1; transform: translateY(0);}
.sec2 .project .right .btn{
    font-size: 1.3vw;
    font-family: 'Abel';
    text-transform: uppercase;
}
.sec2 .project .right .btn-wrap .line{
    display: inline-block;
    height: 1px;
    width: 0vw;
    width: 5vw;
    background: #222;
    margin-left: 10px;
    // opacity: 0;
    transition: width 0.6s 0.8s;
}
.project.show .right .btn-wrap .line{opacity: 1; width: 5vw;}
// .sec2 .project .right .imgwrap{opacity: 0; transition: 0.6s 1.2s; transform: translateY(-50px);}
.sec2 .project:nth-of-type(2n) {  flex-direction: row-reverse;}
.sec2 .project:nth-of-type(2n) .num{  left: auto; right: -3vw; //transform: translateX(100px);
}
.sec2 .project:nth-of-type(2n) .right { align-items: flex-end;}
.sec2 .project:nth-of-type(2n) .right h2{ text-align: right;}
.sec2 .project:nth-of-type(2n) .right .btn-wrap{ flex-direction: row-reverse;}
.sec2 .project:nth-of-type(2n) .right .btn-wrap .line{ margin-left: 0; margin-right: 10px;}

/* ani */
// .sec2 .project.show .num {opacity: 1; transform: translateX(0);}
// .project.show .right h2 {opacity: 1;transform: translateY(0);}
// .project.show .right .imgwrap{opacity: 1;transform: translateY(0);}


/* footer */
.page{
    position: relative;
    font-family: 'Sunflower';
}
.page .f_top{
    position: relative;
    padding: 0 10vw 0;
    background: #beb8ae;
    background: #222;
    border-bottom: 1px solid #4c4b4b;
}

.page .f_top .line{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 1px;
    height: inherit;
    background: #444;
}
.f_top .btn {
    position: relative;
    height: 50vh;
    /* margin: 3vw 0; */
}
.f_top .btn nav{ 
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f_top .btn nav > a{
    margin: 5% 15%;
}
.f_top .btn a{
    color: #969086;
    font-size: 4.7vw;
    text-align: center;
}
:root {
    font-size: 16px;
    --link-translate-x: 2.5rem;
  }
  
.nav__link {
    font-size: 5rem;
    color: #fff;
    display: grid;
    font-style: italic;
}
.nav__link--text {
    grid-area: 1/1;
    transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.nav__link--text .word {
white-space:     nowrap;
}
.nav__link--text .char {
    display: inline-block;
    transform-origin: 50% 50% 0.4em;
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
    transition-delay: calc(0ms + var(--char-index) * 25ms);
    backface-visibility: hidden;
    margin: 0 -0.02em;
}
.nav__link--text:nth-child(1) {
    font-family: 'Sunflower';
    font-weight: 500;
}
.nav__link--text:nth-child(2) {
    font-family: "Miracle";
    font-weight: 500;
    opacity: 0;
    color: #fff9f1;
}
.nav__link--text:nth-child(2) .char {
    transform: rotate3d(1, -0.5, 0, 90deg);
}
.nav__link:hover .nav__link--text {
    transform: translateX(var(--link-translate-x));
}
.nav__link:hover .nav__link--text:nth-child(1) {
    opacity: 0;
}
.nav__link:hover .nav__link--text:nth-child(1) .char {
    transform: rotate3d(1, 0.3, 0, -90deg);
}
.nav__link:hover .nav__link--text:nth-child(2) {
    opacity: 1;
}
.nav__link:hover .nav__link--text:nth-child(2) .char {
    transform: rotate3d(0, 0, 0, 90deg);
}

@media only screen and (max-width: 20rem) {
:root {
    font-size: 10px;
    --link-translate-x: 2rem;
    }
}
.f_top .arrow{
    width: 2.5vw;
    position: absolute;
}
.f_top .prev{    
    top: 50%;
    left: 3%;
    transform: translateY(-50%) rotate(90deg);
}
.f_top .next{    
    top: 50%;
    right: 3%;
    transform: translateY(-50%) rotate(-90deg);
}
.f_top .arrow svg{stroke: #969086; stroke-width:3;}
.f_top .arrow svg .st0{fill: #969086;}
.f_top .arrow svg .st1{fill: none;}


  
/* 미디어쿼리 */
@media (max-width:1024px) {
    .sec1 .ani span{font-size: 30vw;}
    .sec1 .title-wrap em,
    .sec1 .title-wrap strong{font-size: 6.5vw;}
    .sec1 .title-wrap .scroll{font-size: 1.6vw;}
    .sec1 .title-wrap p{font-size: 1.05vw;flex: 0 0 66%;}
    /* sec2 */
    .sec2 .project { padding-top: 16vw; }
    .sec2 .project .right h2{font-size: 6vw; line-height: 7vw;}
    .sec2 .project .right .btn{font-size: 1.8vw;}
    .sec2 .project .left .desc{font-size: 1.3vw;  line-height: 2.2vw;}
}
@media (max-width:960px) {
    .sec1 .title-wrap em,
    .sec1 .title-wrap strong{font-size: 7vw;}
    .sec1 .title-wrap .scroll{font-size: 1.7vw;}
    .sec1 .title-wrap pp{font-size: 1.1vw;}

    //page
    .f_top .btn{height: 40vh;}
    
}
@media (max-width:768px) {
    .sec1 .ani span {   font-size: 50vw;  }
    .sec1 .title-wrap em,
    .sec1 .title-wrap strong{font-size: 8vw;}
    .sec1 .title-wrap .scroll{font-size: 2vw;}
    .sec1 .title-wrap p{font-size: 1.5vw;}
    /* sec2 */
    .sec2 .project{  flex-direction: column-reverse;  align-items: center;  padding-top: 30vw; margin: 10vw 0 30vw;}
    .sec2 .project:nth-of-type(2n){flex-direction: column-reverse;  align-items: center;}
    .sec2 .project .num{font-size: 85vw;  left: -15vw;}
    .sec2 .project:nth-of-type(2n) .num{right: -15vw;}
    .sec2 .project .left { width: 90%;   margin-top: 30px; }
    .sec2 .project .left .desc{  font-size: 2.5vw; line-height: 3.5vw;}
    .sec2 .project .right{width: 90%;}
    .sec2 .project .right h2 { font-size: 10vw;  line-height: 11vw; }
    .sec2 .project .right .btn{font-size: 18px;}
    
    //page
    .f_top .btn a{font-size: 6vw;}
}
@media (max-width:600px) {
    .sec1 .desc {justify-content: space-between; }
    @keyframes pbMove3 {
        to{width: 55px;}
    }
    //page
    .f_top .btn {   height: 30vh; }
    .f_top .btn a{font-size: 7vw;}
    
}
@media (max-width:480px) {
    .sec1 .title-wrap .scroll{display: none;}
    .sec1 .title-wrap p {flex: 100%; position: relative;padding-left: 10px;}
    .sec1 .title-wrap p::before{
        content: '';
        position: absolute;
        left: 0;
        width: 1px; height: 100%;
        background: #fff;
    }
}
@media (max-width:375px) {
    .sec1 .ani span {   font-size: 60vw;  }
}