@mixin cubicBezier($duration) {
  transition: $duration;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin h1Show {
  @keyframes h1Show {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin mainFooter {
  @keyframes mainFooter {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin rotateText {
  @keyframes rotateText {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin loadText {
  @keyframes loadText {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
